.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Cards {
  display: flex;
  justify-content: center;
}
.Switch {
  display: flex;
  justify-content: center;
  align-items: center;
}